<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Donate a book!</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Title</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
  <input  ng-model="book.name" placeholder="Enter the book title" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Price</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
  <input ng-model="book.price" placeholder= "$ 122.00" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">Rating</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-star-empty"></i></span>
        <input ng-model="book.rating" class="form-control" type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Publisher</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input ng-model="book.publisher" placeholder="AbeBooks" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
      
<div class="form-group">
  <label class="col-md-4 control-label">Release Date</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
  <input ng-model="book.releaseDate" placeholder="Address" class="form-control" type="date">
    </div>
  </div>
</div>

<!-- Select Basic -->
   
<div class="form-group"> 
  <label class="col-md-4 control-label">Binding</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select ng-model="book.binding" class="form-control selectpicker" >
      <option value=" " >Select...</option>
      <option>PAPERBACK</option>
      <option>HARDCOVER</option>
    </select>
  </div>
</div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label">Image URL</label>  
   <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
  <input ng-model="book.imgUrl" placeholder="filename.jpeg" class="form-control" type="file" file-model="myFile">
    </div>
  </div>
</div>

<!-- Text area -->
  
<div class="form-group">
  <label class="col-md-4 control-label">Project Description</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" ng-model="book.details" placeholder="Book summary"></textarea>
  </div>
  </div>
</div>

	<!-- Button -->
	<div class="form-group">
	<label class="col-md-4 control-label"></label>
	  <span style="display:flex"> 
	  	<div class="col-md-3">
	   		<button ng-click="send(book)" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
	  	</div>
	  	<div class="col-md-3">
	    	<button ng-click="cancel()" class="btn btn-danger">Cancel</button>
	  	</div>
	  </span>
	 </div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->