<style type="text/css">
    #mainBubble {
      background: #fff;
      box-shadow: 0 0 4px rgba(0,0,0,0);
      font: 10px sans-serif;
      height: 800px;
      position: relative;
      width: 80%;
    }
             
    #mainBubble svg {
      left: 0;
      position: relative;
      top: 0;
    }
                         
    #mainBubble circle.topBubble {
      fill: #aaa;
      stroke: #666;
      stroke-width: 1.5px;
     }
</style>
   <div class="bookListWrapper">
   	<div id="mainBubble"></div>
   </div>
  
  
 